html {}
body {background:transparent url('../img/background.png') repeat center center;}
.content {text-align:center;}
.content .photo, .content .photo img {width:247px;height:300px;}
.content .social {margin-top:20px;}
.content .social > ul {list-style:none;margin:0;padding:0;}
.content .social > ul > li {display:inline-block;width:70px;margin:auto;}
.content .social > ul > li > a {color:#ffffff;}
.content .social > ul > li > a:hover {color:#337ab7;}
@media (min-width:321px) {
  .content .social {margin-top:40px;}
  .content .social > ul > li {width:40px;}
}

/* BEGIN: Flip Card .......................................... */
.flip-card {position:relative;margin:0 auto;
  -webkit-perspective:600px;
     -moz-perspective:600px;
          perspective:600px;
}
.flip-card > .front {position:absolute;top:0;z-index:900;width:inherit;height:inherit;
  -webkit-backface-visibility:hidden;
     -moz-backface-visibility:hidden;
          backface-visibility:hidden;
  -webkit-transform:rotateX(0deg) rotateY(0deg);
     -moz-transform:rotateX(0deg) rotateY(0deg);
          transform:rotateX(0deg) rotateY(0deg);
  -webkit-transform-style:preserve-3d;
     -moz-transform-style:preserve-3d;
          transform-style:preserve-3d;
  -webkit-transition:all .4s ease-in-out;
     -moz-transition:all .4s ease-in-out;
      -ms-transition:all .4s ease-in-out;
       -o-transition:all .4s ease-in-out;
          transition:all .4s ease-in-out;
}
.flip-card > .back {position:absolute;top:0;z-index:1000;width:inherit;height:inherit;
  -webkit-backface-visibility:hidden;
     -moz-backface-visibility:hidden;
          backface-visibility:hidden;
  -webkit-transform:rotateX(0deg) rotateY(-180deg);
     -moz-transform:rotateX(0deg) rotateY(-180deg);
          transform:rotateX(0deg) rotateY(-180deg);
  -webkit-transform-style:preserve-3d;
     -moz-transform-style:preserve-3d;
          transform-style:preserve-3d;
  -webkit-transition:all .4s ease-in-out;
     -moz-transition:all .4s ease-in-out;
      -ms-transition:all .4s ease-in-out;
       -o-transition:all .4s ease-in-out;
          transition:all .4s ease-in-out;
}
.flip-card:hover > .front, .flip-card.hover > .front {
  -webkit-transform:rotateX(0deg) rotateY(180deg);
     -moz-transform:rotateX(0deg) rotateY(180deg);
          transform:rotateX(0deg) rotateY(180deg);
}
.flip-card:hover > .back, .flip-card.hover > .back {
  -webkit-transform:rotateX(0deg) rotateY(0deg);
     -moz-transform:rotateX(0deg) rotateY(0deg);
          transform:rotateX(0deg) rotateY(0deg);
}
/* END: Flip Card ............................................ */
