html {}
body {font-face:Helvetica,sans-serif;background:transparent url('../img/background.png') repeat center center;}
.content {text-align:center;}
.content .logo, .content .logo > .back > .message, .content .logo > .front > a > img {width:300px;height:300px;}
.content .logo > .back > .message {overflow:hidden;background-color:transparent;}
.content .logo > .back > .message > img {width:auto;height:150px;margin:18px 0 0 0;}
.content .logo > .back > .message > p {margin:15px 0 0 0;color:#ffffff;font-size:14px;}
.content .logo > .back > .message > p > a {color:#337ab7;}
.content .social {margin-top:20px;}
.content .social > ul {list-style:none;margin:0;padding:0;}
.content .social > ul > li {display:inline-block;width:70px;margin:auto;}
.content .social > ul > li > a {color:#ffffff;}
.content .social > ul > li > a:hover {color:#337ab7;}
@media (min-width:321px) {
  .content .social {margin-top:40px;}
  .content .social > ul > li {width:40px;}
}


/* BEGIN: Cross Fade ......................................... */
.cross-fade {position:relative;margin:0 auto;}
.cross-fade > .front, .cross-fade > .back {position:absolute;top:0;width:inherit;height:inherit;
  -webkit-transition:opacity .5s ease-in-out;
     -moz-transition:opacity .5s ease-in-out;
      -ms-transition:opacity .5s ease-in-out;
       -o-transition:opacity .5s ease-in-out;
          transition:opacity .5s ease-in-out;
}
.cross-fade > .front:hover, .cross-fade > .front.hover {opacity:0;}
/* END: Cross Fade ........................................... */


/* BEGIN: Flip Card .......................................... */
.flip-card {position:relative;margin:0 auto;
  -webkit-perspective:600px;
     -moz-perspective:600px;
          perspective:600px;
}
.flip-card > .front {position:absolute;top:0;z-index:900;width:inherit;height:inherit;
  -webkit-backface-visibility:hidden;
     -moz-backface-visibility:hidden;
          backface-visibility:hidden;
  -webkit-transform:rotateX(0deg) rotateY(0deg);
     -moz-transform:rotateX(0deg) rotateY(0deg);
          transform:rotateX(0deg) rotateY(0deg);
  -webkit-transform-style:preserve-3d;
     -moz-transform-style:preserve-3d;
          transform-style:preserve-3d;
  -webkit-transition:all .4s ease-in-out;
     -moz-transition:all .4s ease-in-out;
      -ms-transition:all .4s ease-in-out;
       -o-transition:all .4s ease-in-out;
          transition:all .4s ease-in-out;
}
.flip-card > .back {position:absolute;top:0;z-index:1000;width:inherit;height:inherit;
  -webkit-backface-visibility:hidden;
     -moz-backface-visibility:hidden;
          backface-visibility:hidden;
  -webkit-transform:rotateX(0deg) rotateY(-180deg);
     -moz-transform:rotateX(0deg) rotateY(-180deg);
          transform:rotateX(0deg) rotateY(-180deg);
  -webkit-transform-style:preserve-3d;
     -moz-transform-style:preserve-3d;
          transform-style:preserve-3d;
  -webkit-transition:all .4s ease-in-out;
     -moz-transition:all .4s ease-in-out;
      -ms-transition:all .4s ease-in-out;
       -o-transition:all .4s ease-in-out;
          transition:all .4s ease-in-out;
}
.flip-card:hover > .front, .flip-card.hover > .front {
  -webkit-transform:rotateX(0deg) rotateY(180deg);
     -moz-transform:rotateX(0deg) rotateY(180deg);
          transform:rotateX(0deg) rotateY(180deg);
}
.flip-card:hover > .back, .flip-card.hover > .back {
  -webkit-transform:rotateX(0deg) rotateY(0deg);
     -moz-transform:rotateX(0deg) rotateY(0deg);
          transform:rotateX(0deg) rotateY(0deg);
}
/* END: Flip Card ............................................ */
